@{
    ViewBag.Title = "Conferma cambio password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup><hr />
<div>
    <p>
        Controlla la tua mail per completare il reset della password.
    </p>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
