body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*personalizzazione*/

.navbar-inverse{
    background-color:#5c0b0a;
    border:none;
}

.img-usr{
    height:50px;
    border:solid 2px #fff;
    border-radius:50%;
}
.img-logo-header{
    width:50px;
}
.img-logo{
    max-width:800px;
    width:80%;
}
.navi {
    margin:0;
    padding:0;
}
    .navi a {
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    transition: all 0.8s ease;
    font-size: 1.2em;
}
    .navi li {
     color:#fff !important;
   }
    .navi li div{
     font-size:1.7em;
     padding: 12px 13px 0px 13px;
     z-index:10;
     position:relative;
    }
    .navi li a span{
    transition: all 0.8s ease;
    color:#000;
    font-size:0.1em;
    overflow:no-content;
    z-index:20;
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
    transform: scale(0,0);
    display:none;
    background-color:rgba(235, 235, 235, 0.00);
    bottom:40px;
    }
    .navi a:hover span {
    position:absolute;
    display:flex;
    transition: all 0.8s ease;
    text-shadow: 0px 0px 10px #fff;
    color: #22486F;
    -ms-transform: scale(5,5); /* IE 9 */
    -webkit-transform: scale(5,5); /* Chrome, Safari, Opera */
    transform: scale(5,5);
    margin-top:12px;
    background-color:rgba(235, 235, 235, 0.80);
    padding: 0px 1px 1px 1px;
    border-radius:1px;
    }


.navi1 {
    margin:0;
    padding:0;
}
    .navi1 a {
    display: inline-block !important;
    padding:0px 0px;
    margin:0px !important;
}
    .navi1 c a{
        font-size:12px;
        padding: 3px 5px;
    }
    .navi1 li {
     color:#fff !important;
   }
    .navi li div{
     font-size:1.7em;
     padding: 12px 13px 0px 13px;
     z-index:10;
     position:relative;
    }
    .navi1 li a span{
    transition: all 0.8s ease;
    color:#000;
    font-size:0.2em;
    overflow:no-content;
    z-index:20;
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
    transform: scale(0,0);
    display:none;
    background-color:rgba(235, 235, 235, 0.00);
    }
    .navi1 li a img{
            transition: all 0.8s ease;
    }
    .navi1 a:hover span {
    position:absolute;
    display:flex;
    transition: all 0.8s ease;
    text-shadow: 0px 0px 10px #fff;
    color: #22486F;
    -ms-transform: scale(5,5); /* IE 9 */
    -webkit-transform: scale(5,5); /* Chrome, Safari, Opera */
    transform: scale(5,5);
    margin-top:12px;
    background-color:rgba(235, 235, 235, 0.80);
    padding: 0px 1px 1px 1px;
    border-radius:1px;
    }




.navi2 {
    margin:0;
    padding:0;
}
    .navi2 a {
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    transition: all 0.8s ease;
}
    .navi2 li {
     color:#fff !important;
   }
    .navi2 li div{
     padding: 0px 13px 0px 13px;
     z-index:10;
     position:relative;
    }
    .navi2 li a span{
    transition: all 0.8s ease;
    color:#000;
    overflow:no-content;
    z-index:20;
    display:none;
    background-color:rgba(235, 235, 235, 0.00);
    }
    .navi2 a:hover span {
    position:absolute;
    display:flex;
    transition: all 0.8s ease;
    text-shadow: 0px 0px 10px #fff;
    color: #22486F;
    background-color:rgba(235, 235, 235, 0.80);
    padding: 0px 1px 1px 1px;
    border-radius:1px;
    }
.b{
 font-size:30px;
 color:#fff;
}       

.hr1{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0));
}
.jumbo{
    background-color:rgba(255, 255, 255, 0.8) !important;
    text-shadow: 0px 0px 2px #fff;
    color:#000;
    margin-top: -8px;
    padding: 30px;
    border: solid thin white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 24px #000;
}
#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    background: url('Immagini/Slice.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -10000;
}

#bg1{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    bottom:0px;
  /*background: url(Immagini/GalleriaHome/Sfondo/Home1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
    z-index:-10000;
}
.foot{
    background-color:#5c0b0a;
    color:#9d9d9d;
}
.foot img{
    margin: 0px 10px 0px 10px;
}

