@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blocked";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">
        Questo utente è stato bloccato dall'amministratore.<br />
        Per riattivarlo contatta la segreteria tel: 0247716605
    </h2>
</hgroup>
